<!DOCTYPE html>
<html ng-app="app">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Internationalize</title>
  </head>
  <body layout="column" ng-controller="LayoutController as vm" ng-cloak>
    <md-toolbar class="md-toolbar-tools md-whiteframe-2dp">
      <md-button hide-gt-sm ng-click="vm.toggleMenu()"><md-icon>menu</md-icon></md-button>
      <div flex layout-align="center center" layout="row">
        <a ui-sref="root"><md-icon>translate</md-icon> Internationalize</a>
      </div>
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav class="md-whiteframe-2dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="menu">
        <md-toolbar class="md-hue-2" ng-show="vm.user">
          <div class="md-toolbar-tools">
            <h3>{{ vm.user.name }}</h3>
          </div>
        </md-toolbar>
        <md-list>
          <md-list-item ui-sref="signIn" ng-hide="vm.user"><md-icon>work</md-icon><p>Sign in</p></md-list-item>
          <md-list-item ui-sref="signUp" ng-hide="vm.user"><md-icon>person</md-icon><p>Sign up</p></md-list-item>
          <md-list-item ui-sref="translations.list" ng-show="vm.user"><md-icon>list</md-icon><p>My translations</p></md-list-item>
          <md-list-item ui-sref="translations.new" ng-show="vm.user"><md-icon>note_add</md-icon><p>New translation</p></md-list-item>
          <md-list-item ng-click="vm.signOut()" ng-show="vm.user"><md-icon>exit_to_app</md-icon><p>Sign out</p></md-list-item>
        </md-list>
      </md-sidenav>
      <md-content id="view-container" flex layout-padding ui-view></md-content>
    </div>
  </body>
</html>
