<!DOCTYPE html>
<html ng-app="app">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Internationalize</title>
  </head>
  <body layout="column" ng-controller="LayoutController as vm" ng-cloak>
    <md-toolbar class="md-toolbar-tools md-whiteframe-2dp">
      <md-button hide-gt-sm ng-click="vm.toggleMenu()"><md-icon>menu</md-icon></md-button>
      <a ui-sref="root">Internationalize</a>
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav class="md-whiteframe-2dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="menu">
        <md-subheader class="md-primary" ng-show="vm.user">
          {{ vm.user.name }}
        </md-subheader>
        <md-button ui-sref="signUp" ng-hide="vm.user">Sign up</md-button>
        <md-button ui-sref="signIn" ng-hide="vm.user">Sign in</md-button>
        <md-button ui-sref="translationsList" ng-show="vm.user">My translations</md-button>
        <md-button ui-sref="newTranslation" ng-show="vm.user">New translation</md-button>
        <md-button ng-click="vm.signOut()" ng-show="vm.user">Sign out</md-button>
      </md-sidenav>
      <md-content id="view-container" flex layout-padding ui-view></md-content>
    </div>
  </body>
</html>
