<span class="md-title">My translations</span>

<md-list>
  <md-list-item class="md-2-line" ng-repeat="translation in vm.translations"
                ui-sref="translations.show.translate({ translationId: translation._id })">
    <div class="md-list-item-text">
      <h3>{{ translation.name }}</h3>
      <p>{{ translation.locale }}</p>
    </div>
    <md-icon class="md-secondary" aria-label="Edit" ui-sref="translations.edit({ translationId: translation._id })" ng-click>edit</md-icon>
    <md-icon class="md-secondary" aria-label="Delete" ng-click="vm.delete(translation, $index, $event)">delete</md-icon>
  </md-list-item>
</md-list>
