<div class="home-container">
  <div>
    <h3 class="md-headline">What is Internationalize?</h3>
    <p>
      It is an application made to simplify the process of translating
      Rails locale files from one language to another.
    </p>
  </div>
  <div>
    <h3 class="md-headline">What benefits does it bring?</h3>
    <p>
      It increases translator's efficiency by a clean interface
      for translating phrases in an iterative process,
      as well as managing them.
      Any prior technological knowledge is no longer needed.
    </p>
  </div>
  <div>
    <h3 class="md-headline">What key features are offered?</h3>
    <p>
      With Internationalize it is very easy to integrate your work with any changes made remotely over time.
      It smartly detects any conflicts and lets you resolve them without pain.
    </p>
    <p>
      A translator can be provided with the exact context of the phrases
      that he translate. This is done by including special comments in the YAML file being translated.
    </p>
  </div>
  <div>
    <h3 class="md-headline">Contact</h3>
    <p>
      The application has been developed by Jonatan Kłosko <md-icon>email</md-icon> jonatanklosko@gmail.com
    </p>
    <p>
      Check it out on <a href="https://github.com/jonatanklosko/internationalize">GitHub<a/>.
    </p>
  </div>
</div>
