<div mongoose-validations errors-source="vm.errors">
  <md-input-container class="md-block">
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="vm.translation.name">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="baseLocale">Base locale</label>
    <input type="text" name="baseLocale" ng-model="vm.translation.baseLocale">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="targetLocale">Target locale</label>
    <input type="text" name="targetLocale" ng-model="vm.translation.targetLocale">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="baseUrl">Base URL</label>
    <input type="text" name="baseUrl" ng-model="vm.translation.baseUrl">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="targetUrl">Target URL</label>
    <input type="text" name="targetUrl" ng-model="vm.translation.targetUrl">
  </md-input-container>
</div>
