<div>
  <span ng-repeat="parent in vm.chain">
    <md-button class="md-raised" ng-click="vm.moveTo($index)">{{ parent.key }}</md-button>
    <md-icon ng-if="!$last">navigate_next</md-icon>
  </span>
</div>
<md-list>
  <md-list-item ng-if="!vm.data.hasOwnProperty('_translated')" ng-repeat="(key, child) in vm.data" ng-click="vm.choose(key, child)">
    <div class="md-list-item-text">{{ key }}</div>
  </md-list-item>
</md-list>
<div ng-if="vm.data.hasOwnProperty('_translated')" >
  <translation-box processed-object="vm.data" on-submit="vm.save()"></translation-box>
</div>
