<div>
  <span ng-repeat="parent in vm.chain">
    <md-button class="md-raised" ng-click="vm.moveTo($index)">{{ parent.key }}</md-button>
    <md-icon ng-if="!$last">navigate_next</md-icon>
  </span>
</div>
<md-list ng-if="vm.commentChain.length > 0">
  <md-list-item ng-repeat="comment in vm.commentChain">
    {{ comment }}
  </md-list-item>
  <md-divider ></md-divider>
</md-list>
<md-list>
  <md-list-item ng-if="!vm.data.hasOwnProperty('_translated') && key !== '_comment'" ng-repeat="(key, child) in vm.data" ng-click="vm.choose(key, child)">
    <md-icon>{{ child.hasOwnProperty('_translated') ? 'edit' : 'folder' }}</md-icon>
    <p class="md-list-item-text">{{ key }}</p>
  </md-list-item>
</md-list>
<div ng-if="vm.data.hasOwnProperty('_translated')" >
  <translation-box processed-object="vm.data" on-submit="vm.save()"></translation-box>
</div>
