<md-dialog flex aria-label="Synchronize with the remote dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Synchronize with the remote</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close dialog" ng-click="vm.close()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content">
    <h3 class="md-headline">Summary</h3>
    <md-list>
      <md-list-item ng-show="vm.upToDate">
        <md-icon>check</md-icon><span flex>Everything is up to date.</span>
      </md-list-item>
      <md-list-item ng-show="vm.straightforward">
        <md-icon>cloud_done</md-icon><span flex>The synchronization is straightforward, your work won't be affected.</span>
      </md-list-item>
      <md-list-item ng-show="vm.unusedTranslatedKeysCount !== 0">
        <md-icon>delete_forever</md-icon>
        <ng-pluralize flex count="vm.unusedTranslatedKeysCount"
                      when="{ 'one':   '{} translated key is unused and will be removed',
                              'other': '{} translated keys are unused and will be removed' }">
        </ng-pluralize>
      </md-list-item>
      <md-list-item ng-show="vm.resolvedConflictsCount !== 0">
        <md-icon>sync_problem</md-icon>
        <ng-pluralize flex count="vm.resolvedConflictsCount"
                      when="{ 'one':   '{} conflict has been resolved',
                              'other': '{} conflicts have been resolved' }">
        </ng-pluralize>
      </md-list-item>
    </md-list>
    <div class="conflicts-box" ng-show="vm.isConflict">
      <h3 class="md-headline">Resolve conflicts ({{ vm.resolvedConflictsCount + 1 }} of {{ vm.conflicts.length }})</h3>
      <p>Some original texts have been changed, please ensure that they are still translated correctly.</p>
      <div ng-if="vm.currentConflict.currentProcessed._pluralization">
        <md-list>
          <span class="original-title">The version you've translated</span>
          <md-list-item ng-repeat="(key, phrase) in vm.currentConflict.currentProcessed._original">
            <span>{{ key }} <md-icon>trending_flat</md-icon> {{ phrase }}</span>
          </md-list-item>
        </md-list>
      </div>
      <div ng-if="!vm.currentConflict.currentProcessed._pluralization">
        <span class="original-title">The version you've translated:</span> {{ vm.currentConflict.currentProcessed._original }}
      </div>
      <translation-box processed-object="vm.currentKey" on-submit="vm.resolveConflict()" original-title="The new version"></translation-box>
    </div>
  </md-dialog-content>
  <md-dialog-actions ng-hide="vm.upToDate || vm.isConflict">
    <md-button ng-click="vm.synchronize()">Synchronize</md-button>
  </md-dialog-actions>
</md-dialog>
