<span class="md-title">Sign up</span>

<form mongoose-validations errors-source="errors">
  <md-input-container class="md-block">
    <label for="username">Username</label>
    <input type="text" name="username" ng-model="user.username">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="name">Full name</label>
    <input type="text" name="name" ng-model="user.name">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="username">Password</label>
    <input type="password" name="password" ng-model="user.password">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="username">Password confirmation</label>
    <input type="password" name="passwordConfirmation" ng-model="user.passwordConfirmation">
  </md-input-container>
  <md-button type="submit" class="md-raised md-primary" ng-click="signUp(user)">Sign up</md-button>
</form>
