<div ng-show="!vm.selectedKey">
  <md-input-container class="md-block">
    <md-icon>search</md-icon>
    <input type="text" name="search" ng-model="vm.searchValue" placeholder="Type a part of the key path, the original phrase or the translated one">
  </md-input-container>
  <p>
    {{ vm.matchingKeys.length }} of {{ vm.allKeys.length }} keys matches the given phrase.
  </p>
  <md-list>
    <md-list-item ng-repeat="key in vm.displayedKeys" ng-click="vm.select(key)">
      <p class="md-list-item-text">{{ key.path }}</p>
    </md-list-item>
  </md-list>
  <md-collection-pagination collection="vm.matchingKeys" paginated-collection="vm.displayedKeys"></md-collection-pagination>
</div>
<div ng-if="vm.selectedKey">
  <div>
    <span>{{ vm.translation.targetLocale }}</span>
    <span ng-repeat="parent in vm.selectedKey.chain">
      <md-icon>navigate_next</md-icon> {{ parent.key }}
    </span>
  </div>
  <translation-context chain="vm.selectedKey.chain"></translation-context>
  <translation-box processed-object="vm.selectedKey.value" on-submit="vm.save()">
    <md-button class="md-raised" ng-click="vm.backToSearch()">
      <md-icon>replay</md-icon>
      <md-tooltip md-direction="top">Back to search</md-tooltip>
    </md-button>
  </translation-box>
</div>
