<span class="md-title">New translation</span>

<form mongoose-validations errors-source="vm.errors">
  <md-input-container class="md-block">
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="vm.translation.name">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="baseLocale">Base locale</label>
    <input type="text" name="baseLocale" ng-model="vm.translation.baseLocale">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="targetLocale">Target locale</label>
    <input type="text" name="targetLocale" ng-model="vm.translation.targetLocale">
  </md-input-container>
  <md-input-container class="md-block">
    <label for="sourceUrl">Source URL</label>
    <input type="text" name="sourceUrl" ng-model="vm.translation.sourceUrl">
  </md-input-container>
  <md-button type="submit" class="md-raised md-primary" ng-click="vm.create(vm.translation)">Create</md-button>
</form>
