<div>
  <md-progress-linear md-mode="determinate" value="{{ vm.statistics.translatedCount / vm.statistics.overallCount * 100 }}">
  </md-progress-linear>
  {{ vm.statistics.translatedCount }}/{{ vm.statistics.overallCount }}
</div>

<div ng-if="vm.finished">
  Everything translated <md-icon>done</md-icon>
</div>

<div ng-if="!vm.finished">
  <div>
    <span ng-repeat="parent in vm.chain">
      {{ parent }} <md-icon ng-if="!$last">navigate_next</md-icon>
    </span>
  </div>
  <translation-box processed-object="vm.key" on-submit="vm.done()"></translation-box>
</div>
