<div>
  <md-progress-linear md-mode="determinate" value="{{ vm.statistics.translatedCount / vm.statistics.overallCount * 100 }}">
  </md-progress-linear>
  {{ vm.statistics.translatedCount }}/{{ vm.statistics.overallCount }}
</div>

<div ng-if="vm.finished">
  Everything trenslated <md-icon>done</md-icon>
</div>

<div ng-if="!vm.finished">
  <div>
    <span ng-repeat="parent in vm.chain">
      {{ parent }} <md-icon ng-if="!$last">navigate_next</md-icon>
    </span>
  </div>
  <div>
    Original: {{ vm.key._original }}
  </div>
  <form ng-submit="vm.done()">
    <md-input-container class="md-block">
      <label for="translated">Translation</label>
      <input type="text" name="translated" ng-model="vm.key._translated">
    </md-input-container>
  </form>
</div>

<md-button class="md-raised md-primary" ng-click="vm.showRaw($event)">
  <md-icon>remove_red_eye</md-icon> Show raw
</md-button>
<md-button class="md-raised md-primary" ng-click="vm.download()">
  <md-icon>file_download</md-icon> Download
</md-button>
